extends ../layout

block content
	.titulos
		h1 #{courses.name}
		p #{courses.description}
		a(href='/course')
			span Back to Courses
	hr
	.row
	- for exercise in exercises
		.col-xs-12.col-sm-6.col-md-6.col-lg-6.course-view.course-single
			.box
				.box-icon
					span.fa.fa-4x
						| #{exercise.level}
				.info
					h4 #{exercise.name}
					p #{exercise.description}
					a.btn.btn-success.btn-lg(href="/course/"+courses.url+"/level/"+exercise.level, role='button') Start level